In [1]:
ls =["Name","Age","Class"]
l2 = ["Shahzad",40,"AI"]

In [5]:
l3 = list(zip(ls, l2))

In [26]:
unitlist = []
slablist = []
unitcost = []
totalcost = 0

currunit = int(input("Enter the Current Units !!! "))
unitlist = ["Total Units"]
slablist.append(currunit)

unitlist.append("First Slap 0 to 100")
if currunit <= 100:
    unitcost = currunit*10
else:
    unitcost = 100 *10   
totalcost += unitcost
slablist.append(unitcost)

if currunit > 100:
#     unitlist.append("Second Slap 101 to 200")
    if currunit <= 200:
        unitcost = (currunit-100) *15
    else:
        unitcost = 100 *15
    totalcost += unitcost
    unitlist.append("second Slap 101 to 200-" + str(unitcost))
    slablist.append(unitcost)

if currunit > 200:
#     unitlist.append("Third Slap 101 to 200")
    if currunit <= 300:
        unitcost = (currunit-200) * 20
    else:
        unitcost = 100 * 20
    totalcost += unitcost
    unitlist.append("Third Slap 101 to 200-" + str(unitcost))
    slablist.append(unitcost)

if currunit > 300:
    unitlist.append("Forth Slap 201 to 300")
    if currunit <= 300:
        unitcost = (currunit-200) * 20
    else:
        unitcost = 100 * 20
    totalcost += unitcost
    slablist.append(unitcost)
    
unitlist.append("Total Billing Cose")
slablist.append(totalcost)

print(list(zip(unitlist, slablist)))

Enter the Current Units !!! 250
[('Total Units', 250), ('First Slap 0 to 100', 1000), ('second Slap 101 to 200-1500', 1500), ('Third Slap 101 to 200-1000', 1000), ('Total Billing Cose', 3500)]

In [59]:
for y in slabcost:
    print(y[1], y[2])

0 100
101 200
201 300
301 500
501 1000
1001 10000
10001 100000

slabcost = [10,15,20,25,35,50,70,100]
for i in range(len(slabcost)):
    print(slabcost)

In [3]:
slabcost = [['First Slab 0 - 100'      ,0,100,10],
            ['Second Slab 101 - 200'   ,101,200,15],
            ['Third Slab 201 - 300'    ,201,300,20],
            ['Forth Slab 301 - 500'    ,301,500,25],
            ['Fifth Slab 501 - 1000'   ,501,1000,35],
            ['Sixth Slab 1001 - 10000' ,1001,10000, 70],
            ['Last Slab 10001 - 100000',10001,100000, 100]]

unitlist = []
slablist = []
unitcost = []
totalcost = 0
currunit = 250
def CalculateBill(seq, unit):
    tmpCost, xunit = 0,0
    if seq == 0:
        if unit <= slabcost[seq][2]:
            tmpCost = unit * slabcost[seq][3]
        else:
            tmpCost = 100 * int(slabcost[seq][3])
    xunit = unit - slabcost[seq][2]
    unitlist.append(slabcost[seq][0])   
    slablist.append(tmpCost)
    
    if seq != 0:
        if unit >= slabcost[seq][1]:
            if unit <= slabcost[seq][2]: 
                print(slabcost[seq][1], slabcost[seq][2], slabcost[seq][3], 'if', unit - slabcost[seq][2])
            else:
                print(slabcost[seq][1], slabcost[seq][2], slabcost[seq][3], 'else', unit - slabcost[seq][2])
    return xunit

        
# print(CalculateBill(0, 180))
print(CalculateBill(0, currunit))
unitlist.insert(0, "Total Units")
slablist.insert(0, currunit)
print(list(zip(unitlist, slablist)))

150
[('Total Units', 250), ('First Slab 0 - 100', 1000)]

[('Total Units', 250), ('First Slab 0 - 100', 1000), ('Second Slab 101 - 200', 0)]

In [89]:
slabcost = [['First Slab 0 - 100'      ,0,100,10],
            ['Second Slab 101 - 200'   ,101,200,15],
            ['Third Slab 201 - 300'    ,201,300,20],
            ['Forth Slab 301 - 500'    ,301,500,25],
            ['Fifth Slab 501 - 1000'   ,501,1000,35],
            ['Sixth Slab 1001 - 10000' ,1001,10000, 70],
            ['Last Slab 10001 - 100000',10001,100000, 100]]

unitlist = []
slablist = []
unitcost = []
totalcost = 0
currunit = 250
remunit = 0

def CalculateBill(seq, unit):
    tmpCost, xunit = 0,0
    if unit <= slabcost[seq][2] - slabcost[seq][1]:
        tmpCost = unit * slabcost[seq][3]
        print('here',slabcost[seq][2] - slabcost[seq][1])
    else:
        tmpCost = (slabcost[seq][2] - slabcost[seq][1]) * int(slabcost[seq][3])
        print('there', slabcost[seq][2] - slabcost[seq][1])
    xunit = unit - (slabcost[seq][2] - slabcost[seq][1])
    unitlist.append(slabcost[seq][0])   
    slablist.append(tmpCost)

    return xunit

remunit = currunit
for i in range(len(slabcost)):   
    remunit = CalculateBill(i, remunit) 
    if remunit <=0:
        break
    
for tt in range(len(slablist)):
    totalcost += slablist[tt]
unitlist.insert(0, "Total Units")
slablist.insert(0, currunit)
unitlist.insert(1, "Total Cost")
slablist.insert(1, totalcost)

there 100
there 99
here 99

In [90]:
print(list(zip(unitlist, slablist)))

[('Total Units', 250), ('Total Cost', 3505), ('First Slab 0 - 100', 1000), ('Second Slab 101 - 200', 1485), ('Third Slab 201 - 300', 1020)]
3505

In [85]:
totalcost = 0

print(totalcost)

250
1000
1485
1020
3755

In [32]:
val = 140
cval = 0
for i in slabcost:
    if val < i[2]:
        cval = val
    else:
        cval = i[2]
    break
print(cval)

100

In [78]:
z = 0
while z < len(slabcost):
    if val < i[2]:
        cval -= val
        print('if')
    else:
        cval -= i[2]
        print('else')
    print(cval)
#     if cval == 0:
#         break
    z += 1

else
-100
else
-200
else
-300
else
-400
else
-500
else
-600
else
-700