In [1]:
names = ['Natasha Romanoff', 'Clint Barton']
characters = ['Black Widow', 'Hawkeye']
names1 = ['Chris Hemsworth', 'Chris Evans']
characters1 = ['Thor Odinson','Steve Rogers']

In [2]:
avengers = zip(characters, names1)
print(list(avengers))

[('Black Widow', 'Chris Hemsworth'), ('Hawkeye', 'Chris Evans')]

In [14]:
list(zip(*avengers))

[]

In [21]:
teams = [['barry', 'cisco', 'caitlin'],
         ['oliver', 'john', 'felicity']]
[member[0] for member in teams]

['barry', 'oliver']

In [24]:
x = '123'
print([y for y in x])

['1', '2', '3']

In [27]:
str1 = 'AB'
str2 = '34'
[x+y for x in str2 for y in str1]

['3A', '3B', '4A', '4B']

In [30]:
x = [2, 'L', 4, 'M', 'N', 6]
string= [y for y in x if type(y) == str]
print(string)

['L', 'M', 'N']

In [34]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

# write your for loop here
for x in names:
    usernames.append(x.replace(' ', '_'))

print(usernames)

['Joey_Tribbiani', 'Monica_Geller', 'Chandler_Bing', 'Phoebe_Buffay']

In [38]:
tokens = ['<greeting>', '<Hello World!>', '</greeting>']

count = 0
for token in tokens:
    if token[0] == '<' and token[-1] == '>':
        count += 1

print(count)

3

In [36]:
token

'</greeting>'

In [39]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']
word_counter = {}
for word in book_title:
    if word not in word_counter:
        word_counter[word] = 1
    else:
        word_counter[word] += 1
        
print(word_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

15

In [24]:
myDict = {}
def LoadDict(**kwargs):
    for x, y in kwargs.items():
        myDict[x] = y
    
LoadDict(Name = ["Shahzad","Saad","Iqbal"], Age= 20)
print(myDict)

{'Name': 'Shahzad', 'Age': 20}

In [33]:
print(7 // 2)

3

In [46]:
x, y = 11, 4
x = x % y
print(x)
x = x % y
print(x)
y = y % x

3
3

In [54]:
x = 1 / 2 + 3 // 3 + 4 ** 2
print(x)

17.5

In [55]:
from random import randrange


def display_board(board):
	print("+-------" * 3,"+", sep="")
	for row in range(3):
		print("|       " * 3,"|", sep="")
		for col in range(3):
			print("|   " + str(board[row][col]) + "   ", end="")
		print("|")
		print("|       " * 3,"|",sep="")
		print("+-------" * 3,"+",sep="")


def enter_move(board):
	ok = False	# fake assumption - we need it to enter the loop
	while not ok:
		move = input("Enter your move: ") 
		ok = len(move) == 1 and move >= '1' and move <= '9' # is user's input valid?
		if not ok:
			print("Bad move - repeat your input!") # no, it isn't - do the input again
			continue
		move = int(move) - 1 	# cell's number from 0 to 8
		row = move // 3 	# cell's row
		col = move % 3		# cell's column
		sign = board[row][col]	# check the selected square
		ok = sign not in ['O','X'] 
		if not ok:	# it's occupied - to the input again
			print("Field already occupied - repeat your input!")
			continue
	board[row][col] = 'O' 	# set '0' at the selected square


def make_list_of_free_fields(board):
	free = []	# the list is empty initially
	for row in range(3): # iterate through rows
		for col in range(3): # iterate through columns
			if board[row][col] not in ['O','X']: # is the cell free?
				free.append((row,col)) # yes, it is - append new tuple to the list
	return free


def victory_for(board,sgn):
	if sgn == "X":	# are we looking for X?
		who = 'me'	# yes - it's computer's side
	elif sgn == "O": # ... or for O?
		who = 'you'	# yes - it's our side
	else:
		who = None	# we should not fall here!
	cross1 = cross2 = True  # for diagonals
	for rc in range(3):
		if board[rc][0] == sgn and board[rc][1] == sgn and board[rc][2] == sgn:	# check row rc
			return who
		if board[0][rc] == sgn and board[1][rc] == sgn and board[2][rc] == sgn: # check column rc
			return who
		if board[rc][rc] != sgn: # check 1st diagonal
			cross1 = False
		if board[2 - rc][2 - rc] != sgn: # check 2nd diagonal
			cross2 = False
	if cross1 or cross2:
		return who
	return None


def draw_move(board):
	free = make_list_of_free_fields(board) # make a list of free fields
	cnt = len(free)
	if cnt > 0:	# if the list is not empty, choose a place for 'X' and set it
		this = randrange(cnt)
		row, col = free[this]
		board[row][col] = 'X'


board = [ [3 * j + i + 1 for i in range(3)] for j in range(3) ] # make an empty board
board[1][1] = 'X' # set first 'X' in the middle
free = make_list_of_free_fields(board)
human_turn = True # which turn is it now?
while len(free):
	display_board(board)
	if human_turn:
		enter_move(board)
		victor = victory_for(board,'O')
	else:	
		draw_move(board)
		victor = victory_for(board,'X')
	if victor != None:
		break
	human_turn = not human_turn		
	free = make_list_of_free_fields(board)

display_board(board)
if victor == 'you':
	print("You won!")
elif victor == 'me':
	print("I won")
else:
	print("Tie!")

+-------+-------+-------+
|       |       |       |
|   1   |   2   |   3   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   4   |   X   |   6   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   8   |   9   |
|       |       |       |
+-------+-------+-------+
Enter your move: 5
Field already occupied - repeat your input!
Enter your move: 2
+-------+-------+-------+
|       |       |       |
|   1   |   O   |   3   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   4   |   X   |   6   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   8   |   9   |
|       |       |       |
+-------+-------+-------+
+-------+-------+-------+
|       |       |       |
|   1   |   O   |   3   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   4   |   X   |   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   8   |   9   |
|       |       |       |
+-------+-------+-------+
Enter your move: 1
+-------+-------+-------+
|       |       |       |
|   O   |   O   |   3   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   4   |   X   |   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   8   |   9   |
|       |       |       |
+-------+-------+-------+
+-------+-------+-------+
|       |       |       |
|   O   |   O   |   3   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   4   |   X   |   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   8   |   X   |
|       |       |       |
+-------+-------+-------+
Enter your move: 4
+-------+-------+-------+
|       |       |       |
|   O   |   O   |   3   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   O   |   X   |   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   8   |   X   |
|       |       |       |
+-------+-------+-------+
+-------+-------+-------+
|       |       |       |
|   O   |   O   |   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   O   |   X   |   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   8   |   X   |
|       |       |       |
+-------+-------+-------+
I won

In [64]:
print("+-------" * 3,"+", sep="")
for row in range(3):
    print("|       " * 3,"|", sep="")
    for col in range(3):
        print("|   " + str(board[row][col]) + "   ", end="")
        print("|")
        print("|       " * 3,"|",sep="")
        print("+-------" * 3,"+",sep="")

+-------+-------+-------+
|       |       |       |
|   O   |
|       |       |       |
+-------+-------+-------+
|   O   |
|       |       |       |
+-------+-------+-------+
|   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   O   |
|       |       |       |
+-------+-------+-------+
|   X   |
|       |       |       |
+-------+-------+-------+
|   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |
|       |       |       |
+-------+-------+-------+
|   8   |
|       |       |       |
+-------+-------+-------+
|   X   |
|       |       |       |
+-------+-------+-------+

In [69]:
	print("+-------" * 3,"+", sep="")
	for row in range(3):
		print("|       " * 3,"|", sep="")
		for col in range(3):
			print("|   " + str(board[row][col]) + "   ", end="")
		print("|")
		print("|       " * 3,"|",sep="")
		print("+-------" * 3,"+",sep="")
        
        
print("+-------" * 3,"+", sep="")
for row in range(3):
    print("|       " * 3,"|", sep="")
    for col in range(3):
        print("|   " + str(board[row][col]) + "   ", end="")
    print("|")
    print("|       " * 3,"|",sep="")
    print("+-------" * 3,"+",sep="")

+-------+-------+-------+
|       |       |       |
|   O   |   O   |   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   O   |   X   |   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   8   |   X   |
|       |       |       |
+-------+-------+-------+
+-------+-------+-------+
|       |       |       |
|   O   |   O   |   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   O   |   X   |   X   |
|       |       |       |
+-------+-------+-------+
|       |       |       |
|   7   |   8   |   X   |
|       |       |       |
+-------+-------+-------+

In [1]:
letters = ['a', 'b', 'c']
nums = [1, 2, 3]

for letter, num in zip(letters, nums):
    print("{}: {}".format(letter, num))

a: 1
b: 2
c: 3

In [2]:
some_list  = list(zip(letters, nums))
print(some_list)

[('a', 1), ('b', 2), ('c', 3)]

In [7]:
x, y = list(zip(*some_list))
x = list(x)

In [9]:
print(x, ' ', y)

['a', 'b', 'c']   (1, 2, 3)

In [37]:
x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]

points = []
# write your for loop here
# points = list(zip(labels, x_coord, y_coord, z_coord))
for point in zip(labels, x_coord, y_coord, z_coord):
    points.append("{}: {}, {}, {}".format(*point))

for point in points:
    print(point)

F: 23, 677, 4
J: 53, 233, 16
A: 2, 405, -6
Q: -12, 433, -42
Y: 95, 905, 3
B: 103, 376, -6
W: 14, 432, 23
X: -5, 445, -1

In [13]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [14]:
cast = (("Barney", 72), ("Robin", 68), ("Ted", 72), ("Lily", 66), ("Marshall", 76))

# define names and heights here

names, heights = zip(*cast)
print(names)
print(heights)

('Barney', 'Robin', 'Ted', 'Lily', 'Marshall')
(72, 68, 72, 66, 76)

In [40]:
data = ((0, 1, 2), (3, 4, 5), (6, 7, 8), (9, 10, 11))

data_transpose = tuple(zip(*data))
print(data_transpose)

((0, 3, 6, 9), (1, 4, 7, 10), (2, 5, 8, 11))

In [29]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

# write your for loop here
for id, cc in enumerate(cast):
    cast[id] = cc + ' ' + str(heights[id])

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']

In [51]:
# squares = [x**2 for x in range(9) if x % 2 == 0]
squares = [x**2 if x % 2 == 0 else str(x) for x in range(9)]

print(squares)

[0, '1', 4, '3', 16, '5', 36, '7', 64]

In [3]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
# first_names = []
# for name in names:
#     first_names.append(name.split()[0])

first_names = [name.split()[0].lower() for name in names]
# print(first_names)
# first_names = # write your list comprehension here
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

In [58]:
passed = []
scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }

for k, v in scores.items():
    if v >= 65:
        passed.append(k)
# passed = # write your list comprehension here
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [27]:
lst = []
scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }

passed = [k for k,v in scores.items() if v>= 65 ]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [36]:
numbers = [
              [34, 63, 88, 71, 29],
              [90, 78, 51, 27, 45],
              [63, 37, 85, 46, 22],
              [51, 22, 34, 11, 18]
           ]

# for x in numbers:
#      dd = sum(x) /len(x)

# def mean(num_list):
#     return sum(num_list) / len(num_list)

mean = lambda num_list: sum(num_list) / len(num_list)

# averages = list(map(lambda x: sum(x) / len(x), numbers))
averages = list(map(lambda x: sum(x) / len(x), numbers))

# averages = list(map(mean, numbers))
print(averages)

[57.0, 58.2, 50.6, 27.2]

In [35]:
for x in numbers:
    print(sum(x) /len(x))

57.0
58.2
50.6
27.2

In [37]:
cities = ["New York City", "Los Angeles", "Chicago", "Mountain View", "Denver", "Boston"]

# def is_short(name):
#     return len(name) < 10

# is_short = lambda name: len(name) < 10


# for i in cities:
#     print(is_short(i))
#     print(type(is_short))
    
short_cities = list(filter(lambda name: len(name) < 10, cities))
print(short_cities)

['Chicago', 'Denver', 'Boston']

In [16]:
dd = True
xy = list(filter(dd, cities))
print(xy)

TypeError: 'bool' object is not callable

In [73]:
list = [5,4,8,9,44,66,55,22,14,52,63,21,74,98,26]

In [74]:
list

[5, 4, 8, 9, 44, 66, 55, 22, 14, 52, 63, 21, 74, 98, 26]

In [75]:
for m in range(len(list)):
    oi = m
    om = list[m]

    for o in range(m, len(list)):
        if list[o]<om:
            om=list[o]
            oi = o
    tmp = list[m]
    list[m] = om
    list[oi] = tmp

In [76]:
list

[4, 5, 8, 9, 14, 21, 22, 26, 44, 52, 55, 63, 66, 74, 98]

In [92]:
user_input = str(input("Enter a Phrase: "))
text = user_input.split()
a = " "
for i in text:
    a += str(i[0]).upper()
print(a)

Enter a Phrase: Shahz Khan
 SK

In [101]:
email = input("Enter Your Email: ").strip()
print(email)
# username = email[:email.index("_")]
# print(username)
# domain_name = email[email.index("@")+1:]
# format_ = (f"Your user name is '{username}' and your domain is '{domain_name}'")
# print(format_)

Enter Your Email: shaze.ahmed@gmail.com
shaze.ahmed@gmail.com

In [122]:
xind = email.index("@")
print(email[:xind])
print(email[xind+1:])
print(xind)

shaze.ahmed
gmail.com
11

In [124]:
#Project 4 - Story Generator with Python
import random
when = ['A few years ago', 'Yesterday', 'Last night', 'A long time ago','On 20th Jan']
who = ['a rabbit', 'an elephant', 'a mouse', 'a turtle','a cat']
name = ['Ali', 'Miriam','daniel', 'Hoouk', 'Starwalker']
residence = ['Barcelona','India', 'Germany', 'Venice', 'England']
went = ['cinema', 'university','seminar', 'school', 'laundry']
happened = ['made a lot of friends','Eats a burger', 'found a secret key', 'solved a mistery', 'wrote a book']
print(random.choice(when) + ', ' + random.choice(who) + ' that lived in ' + random.choice(residence) + ', went to the ' + random.choice(went) + ' and ' + random.choice(happened))

Last night, an elephant that lived in England, went to the laundry and wrote a book