In [3]:
list1 = ['Shahzad','Iqbal','Saad','Zubair']
list2 = ['Ahmed','Khan','Muhammad','Ali']
e = enumerate(list1)
print(type(e))

# xList = list(e)
# print(xList)

# for ind, val in e:
#     print(ind, val)

<class 'enumerate'>

In [4]:
eList = list(zip(list1, list2))
print(eList)

[('Shahzad', 'Ahmed'), ('Iqbal', 'Khan'), ('Saad', 'Muhammad'), ('Zubair', 'Ali')]

In [6]:
print(next(e))

(1, 'Iqbal')

In [12]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    print(text)
    
id_card(1,"Ali",'Hamza','A.I','9 to 12')    
id_card(2,"Kashif","Kamran","Cloud Computing", "3:30 to 6:30")

    PIAIC Islamabad
    id: 1
    Name: Ali
    father's Name: Hamza
    course:  A.I
    timing: 9 to 12


    PIAIC Islamabad
    id: 2
    Name: Kashif
    father's Name: Kamran
    course:  Cloud Computing
    timing: 3:30 to 6:30

In [8]:
data =[[1,"Qasim","Aslam","A.I","9 to 12"],
      [2,"Hamza","Khalid","Cloud","12:15 to 3:15"],
      [3,"Rauf","Hussain","Quantum Computing","12AM"]]

for v in data:
    id_card(*v)

    PIAIC Islamabad
    id: 1
    Name: Qasim
    father's Name: Aslam
    course:  A.I
    timing: 9 to 12


    PIAIC Islamabad
    id: 2
    Name: Hamza
    father's Name: Khalid
    course:  Cloud
    timing: 12:15 to 3:15


    PIAIC Islamabad
    id: 3
    Name: Rauf
    father's Name: Hussain
    course:  Quantum Computing
    timing: 12AM

In [9]:
print(id_card(sname="Qasim",fname="Aslam",sid=5007,course="A.I",timing="9 to 9"))

    PIAIC Islamabad
    id: 5007
    Name: Qasim
    father's Name: Aslam
    course:  A.I
    timing: 9 to 9

None

In [10]:
l1 = [1,"Qasim","Aslam","A.I","9 to 9"]


print(id_card(*l1))

    PIAIC Islamabad
    id: 1
    Name: Qasim
    father's Name: Aslam
    course:  A.I
    timing: 9 to 9

None

In [13]:
d1 = {
    'course':'A.I',
    'sname':'M.Qasim',
    'fname':'Aslam',
    'sid': 200,
    'timing': "ABC"
}

#print(id_card(sname="Qasim",fname="Aslam",sid=5007,course="A.I",timing="9 to 9"))
print(id_card(**d1))

    PIAIC Islamabad
    id: 200
    Name: M.Qasim
    father's Name: Aslam
    course:  A.I
    timing: ABC

None

In [15]:
# Recursive Function
def abc(n):
    if n==1:
        return 1
    return n * abc(n-1)
abc(5)  
#5*4*3*2*1

1

120

In [17]:
#Generator Functions
def abc():
    for i in range(11):
        yield i
        
a = abc()        
print(a)
# print(next(a))
# print(next(a))
# print(next(a))
# print(next(a))
# print(next(a))
# print(next(a))

print(list(a))

<generator object abc at 0x00000208BD0D5E40>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
xyz = lambda a,b: a + b
xyz(5,7)

12

In [20]:
data

[[1, 'Qasim', 'Aslam', 'A.I', '9 to 12'],
 [2, 'Hamza', 'Khalid', 'Cloud', '12:15 to 3:15'],
 [3, 'Rauf', 'Hussain', 'Quantum Computing', '12AM']]

In [30]:
data.sort(key=lambda x:x[0], reverse=True)
data

[[3, 'Rauf', 'Hussain', 'Quantum Computing', '12AM'],
 [2, 'Hamza', 'Khalid', 'Cloud', '12:15 to 3:15'],
 [1, 'Qasim', 'Aslam', 'A.I', '9 to 12']]

In [58]:
lst = []
def fraction(n):
    if n==1:
        return 1
        if n%2==0:
            print('here')
            lst.append(n)
#     lst.append(n)
    fraction(n-1)

In [59]:
fraction(10)

In [60]:
lst

[]

In [64]:
for x in range(4, 11):
    if x%2!=0:
        print(x)

5
7
9

In [68]:
num = 15

# To take input from the user
#num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

15 is not a prime number
3 times 5 is 15

In [1]:
def SumAllNumber(*args):
    c = 0
    for x in args:
        if isinstance(x, int):
            c += x
    print(c)
    
SumAllNumber(2,5,3,5,'o','sysy')

15

In [2]:
myDict = {}
def LoadDict(**kwargs):
    for x, y in kwargs.items():
        myDict[x] = y
    
LoadDict(Name = ["Shahzad","Saad","Iqbal"], Age= 20)
print(myDict)

{'Name': ['Shahzad', 'Saad', 'Iqbal'], 'Age': 20}