In [13]:
h_letters = []

# for letter in 'human':
#     h_letters.append(letter)

h_letters = [ letter for letter in 'human' ]
letters = list(map(lambda x: x, 'human'))
print( h_letters) 
print(letters)

['h', 'u', 'm', 'a', 'n']
['h', 'u', 'm', 'a', 'n']

In [15]:
number_list = [ x for x in range(20) if x % 2 == 0]
print(number_list)

num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [18]:
obj = ["Even {}".format(i) if i%2==0 else "Odd {}".format(i) for i in range(10)]
print(obj)

['Even 0', 'Odd 1', 'Even 2', 'Odd 3', 'Even 4', 'Odd 5', 'Even 6', 'Odd 7', 'Even 8', 'Odd 9']

In [20]:
transposed = []
matrix = [[1, 2, 3, 4], [5, 6, 7, 8]]

for i in range(len(matrix[0])):
    transposed_row = []

    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

print(transposed)

[[1, 5], [2, 6], [3, 7], [4, 8]]

In [1]:
matrix = [[1, 2], [3,4], [5,6], [7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)]
print (transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [64]:
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08
def get_price_with_tax(txn):
    return round(txn * (1 + TAX_RATE),2)

# final_prices = map(get_price_with_tax, txns)
final_prices = [get_price_with_tax(i) for i in txns]
list(final_prices)

[1.18, 25.44, 62.47, 4.92, 7.32]

In [63]:
squares = [i * i for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
sentence = 'the rocket came back from mars'
vowels = [i for i in sentence if i in 'aeiou']
vowels

['e', 'o', 'e', 'a', 'e', 'a', 'o', 'a']

In [74]:
original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]
# prices = [i if i > 0 else 0 for i in original_prices]
# prices = [i  for i in original_prices if i > 0]
prices = [i if i >0 else 2 for i in original_prices ]

prices

[1.25, 2, 10.22, 3.78, 2, 1.16]

In [77]:
def get_price(price):
    pp = 0
    if price > 5:
        pp = 88
    elif price > 0:
        pp = price
    return pp
#     return price if price > 0 else 0
prices = [get_price(i) for i in original_prices]
prices

[1.25, 0, 88, 3.78, 0, 1.16]

In [80]:
import random
def get_weather_data():
     return random.randrange(90, 110)
hot_temps = [temp for _ in range(20) if (temp := get_weather_data()) >= 100]
hot_temps

[104, 101, 101, 106, 106, 101, 105, 109]

In [81]:
cities = ['Austin', 'Tacoma', 'Topeka', 'Sacramento', 'Charlotte']
temps = {city: [0 for _ in range(7)] for city in cities}
temps

{'Austin': [0, 0, 0, 0, 0, 0, 0],
 'Tacoma': [0, 0, 0, 0, 0, 0, 0],
 'Topeka': [0, 0, 0, 0, 0, 0, 0],
 'Sacramento': [0, 0, 0, 0, 0, 0, 0],
 'Charlotte': [0, 0, 0, 0, 0, 0, 0]}

In [100]:
temp = {}
Countries = ['Pakistan','India','USA']
Cities = ['Karachi','Lahore','Islamabad','Bombay','New Dehli','Pune','New York','California','Florida']

temp = {Country : [Cities[i] for i in range(3)] for Country in Countries}

temp

{'Pakistan': ['Karachi', 'Lahore', 'Islamabad'],
 'India': ['Karachi', 'Lahore', 'Islamabad'],
 'USA': ['Karachi', 'Lahore', 'Islamabad']}