In [1]:
import re
# Loading the Data from File
with open("wchat.txt") as file: 
    fdata = file.read()
print(fdata, end="")

[11:05 pm, 05/08/2022] iQo: Iqbal Ahmed AI-46214 03453113993 iq.ahmed91@gmail.com
[11:12 pm, 05/08/2022] Muhammad Saad AI: Muhammad Saad: AI46190 03043184681: sm.saad50@gmail.com
[11:12 pm, 05/08/2022] Shahzad IBT: Shahzad Ahmed : AI-46165 - 03002303175 - shaze.ahmed@gmail.com
[11:12 pm, 05/08/2022] +92 315 2935701: name: Sami rollno:AI- 40483 email: samikhan2872@gmail.com mobile-no:03152935701
[11:13 pm, 05/08/2022] +92 334 2995610: Talha Mehfooz, AI-40211 email: khurshaiditm47@gmail.com , mobile: 03342995610
[11:13 pm, 05/08/2022] +92 335 3271054: Muhammad Mohsin: AI-53993
Email: mohsinsheikh0700@gmail.com
No: 03353271054
[11:13 pm, 05/08/2022] +92 345 2541450: Hidayat ur Rehman : AI-6546 email: abc@gmail.com
[11:13 pm, 05/08/2022] +92 316 2688657: Muhammad Faizan: AI 40939
faizanwaseem476@gmail.com
[11:13 pm, 05/08/2022] +92 344 2226632: Name: Saad Ahmed
RollNo: AI-47242
Email: hello.saad96@gmail.com
[11:13 pm, 05/08/2022] +92 313 1145255: Gulzar :
AI-20145
Email:hafizgulzar.alm1996@gmail.com
Mobile no. 03131134244
[11:13 pm, 05/08/2022] +92 323 2900066: Abdul Rasheed AI-40154
email: abdulrasheed2511gmail.com
[11:14 pm, 05/08/2022] +92 315 3727169: Muhammad Zeeshan : AI-400250
Email: abc@gmail.com
Mobile no: 03153727169
[11:14 pm, 05/08/2022] +92 342 3392795: Ahmed saleem :AI-44378
Email: ahmedsaleem2122@gmail.com
Mobile no:0342-3392795
[11:14 pm, 05/08/2022] M. Ali Nasir CR AI: Name : Ali Nasir
Roll No: 44365
NIC: 42101-9864676-7
Email: malinasir1997@gmail.com
Mobile No: 0331-2147373
[11:14 pm, 05/08/2022] +92 333 3120597: Name : Hamza Ahmed Ansari Roll number : AI-40591 Email : ibneshakeel2000@gmail.com Mobile number : 03333120597
[11:14 pm, 05/08/2022] +92 316 1448439: name: Zubair
roll no: AI- 40200
email: zubairrasheed0316@gmail.com
mobile-no: 03161448439
[11:14 pm, 05/08/2022] +92 315 2185186: Name: Irfan Roll Number: AI-45055 email: irfanmuhammadk786@gmail.com Mobile Number: 03152185186
[11:15 pm, 05/08/2022] +92 312 2093412: Basharat Ali :AI-46716
Email: basharatfarhad24@gmail.com
Mobile no:03122093412
[11:15 pm, 05/08/2022] +92 344 1802958: Name: Muhammad usama
Roll no : AI-43985
Mobile no : 03441802958
Email : usamakh315@gmail.com
[11:15 pm, 05/08/2022] +92 312 8525358: Faraz uddin : AI-44226- 03128525358 - asbausmuhammad92@gmail.com
[11:15 pm, 05/08/2022] +92 334 3523966: Name: Syed Muhammad Mooazam , Roll No: AI-40222 , Mobile Number: +923343523966
[11:15 pm, 05/08/2022] +92 324 2824117: Name : Abdul Sami  Roll number : AI-40352 Email : abdulsamiarain82@gmail.com Mobile number : 03242824117
[11:16 pm, 05/08/2022] +92 312 2296999: Umair Taqi : AI-46155 - 03122296999 - umairtaqi48@gmail.com
[11:16 pm, 05/08/2022] +92 323 2553599: Name: Atiq Raza
ID : AI-42612
Email : razaatiq05@gmail.com
Mobile No: 03232553599
[11:16 pm, 05/08/2022] +92 334 0378290: Ahsan Uddin
AI-43505
0334-0378290
[11:16 pm, 05/08/2022] M. FURQAN CR AI: Name: Muhammad Furqan
Roll no:AI-40277
Email: furqansawati@gmail.com
Mobile no:03120004695
[11:17 pm, 05/08/2022] +92 306 2462926: Name: Syed Salman Ali , Roll No: AI-40969 , Mobile Number: +923062462926
[11:17 pm, 05/08/2022] +92 309 2655755: Name: Syed Muhammad Daniyal Azam
Roll number: AI-47456
Num: 03092655755
Email : daniyalazam19@gmail.com
[11:17 pm, 05/08/2022] +92 302 8289423: Mehmood AI-41824 03028289423 mahmoodsuleman@hotmail.com

In [2]:
# Getting the Roll Number from data
RollNum = re.findall("([AI]+-\d{5})", fdata)
for i, j in enumerate(RollNum):
    print(i, j)

0 AI-46214
1 AI-46165
2 AI-40211
3 AI-53993
4 AI-47242
5 AI-20145
6 AI-40154
7 AI-40025
8 AI-44378
9 AI-40591
10 AI-45055
11 AI-46716
12 AI-43985
13 AI-44226
14 AI-40222
15 AI-40352
16 AI-46155
17 AI-42612
18 AI-43505
19 AI-40277
20 AI-40969
21 AI-47456
22 AI-41824

In [3]:
# Getting the student name from data
StudName = re.findall(r"\b[A-Z]\w+\s[A-Z]\w+", fdata)
DistName = set(StudName)
StudName = list(DistName)
for i, j in enumerate(StudName):
    print(i, j)

0 Iqbal Ahmed
1 Muhammad Mohsin
2 Ali Nasir
3 Syed Muhammad
4 CR AI
5 Irfan Roll
6 Umair Taqi
7 Muhammad Furqan
8 Muhammad Zeeshan
9 Atiq Raza
10 Talha Mehfooz
11 Ahsan Uddin
12 Ansari Roll
13 Saad Ahmed
14 Muhammad Faizan
15 Muhammad Saad
16 Basharat Ali
17 Roll No
18 Abdul Rasheed
19 Shahzad IBT
20 Abdul Sami
21 Mobile Number
22 Mobile No
23 Daniyal Azam
24 Hamza Ahmed
25 Syed Salman
26 Mehmood AI
27 Shahzad Ahmed
28 FURQAN CR

In [4]:
# Cleaning Student Name from list
for index, i in enumerate(StudName):
    if i.strip().lower() in ('roll no','mobile no','mobile number'):
        StudName.pop(index)
    print(index, i)

0 Iqbal Ahmed
1 Muhammad Mohsin
2 Ali Nasir
3 Syed Muhammad
4 CR AI
5 Irfan Roll
6 Umair Taqi
7 Muhammad Furqan
8 Muhammad Zeeshan
9 Atiq Raza
10 Talha Mehfooz
11 Ahsan Uddin
12 Ansari Roll
13 Saad Ahmed
14 Muhammad Faizan
15 Muhammad Saad
16 Basharat Ali
17 Roll No
18 Shahzad IBT
19 Abdul Sami
20 Mobile Number
21 Daniyal Azam
22 Hamza Ahmed
23 Syed Salman
24 Mehmood AI
25 Shahzad Ahmed
26 FURQAN CR

In [5]:
email = re.findall("[A-z0-9.]+@\w+\.\w+", fdata)
email = list(set(email))
for i, j in enumerate(email):
    print(i, j)

0 iq.ahmed91@gmail.com
1 mohsinsheikh0700@gmail.com
2 irfanmuhammadk786@gmail.com
3 abc@gmail.com
4 basharatfarhad24@gmail.com
5 samikhan2872@gmail.com
6 khurshaiditm47@gmail.com
7 abdulsamiarain82@gmail.com
8 sm.saad50@gmail.com
9 furqansawati@gmail.com
10 zubairrasheed0316@gmail.com
11 ahmedsaleem2122@gmail.com
12 daniyalazam19@gmail.com
13 hafizgulzar.alm1996@gmail.com
14 umairtaqi48@gmail.com
15 asbausmuhammad92@gmail.com
16 shaze.ahmed@gmail.com
17 razaatiq05@gmail.com
18 usamakh315@gmail.com
19 hello.saad96@gmail.com
20 malinasir1997@gmail.com
21 mahmoodsuleman@hotmail.com
22 faizanwaseem476@gmail.com
23 ibneshakeel2000@gmail.com

In [6]:
tempMob = re.findall(r"\b03\d{8,9}|\+\d*\s\d*\s\d*", fdata)
for i, j in enumerate(tempMob):
    print(i, j)

0 03453113993
1 03043184681
2 03002303175
3 +92 315 2935701
4 03152935701
5 +92 334 2995610
6 03342995610
7 +92 335 3271054
8 03353271054
9 +92 345 2541450
10 +92 316 2688657
11 +92 344 2226632
12 +92 313 1145255
13 03131134244
14 +92 323 2900066
15 +92 315 3727169
16 03153727169
17 +92 342 3392795
18 +92 333 3120597
19 03333120597
20 +92 316 1448439
21 03161448439
22 +92 315 2185186
23 03152185186
24 +92 312 2093412
25 03122093412
26 +92 344 1802958
27 03441802958
28 +92 312 8525358
29 03128525358
30 +92 334 3523966
31 +92 324 2824117
32 03242824117
33 +92 312 2296999
34 03122296999
35 +92 323 2553599
36 03232553599
37 +92 334 0378290
38 03120004695
39 +92 306 2462926
40 +92 309 2655755
41 03092655755
42 +92 302 8289423
43 03028289423

In [7]:
# Cleanig Mobile Data
mobile = []
for i, j in enumerate(tempMob):
    if j[0] == '+':
        mobile.append(j)
    else:
        mobile.append("+92"+' '+j[1:4]+' '+j[4:])
mobile = list(set(mobile))
for i, j in enumerate(mobile):
    print(j, i)

+92 312 2093412 0
+92 323 2900066 1
+92 309 2655755 2
+92 334 2995610 3
+92 300 2303175 4
+92 302 8289423 5
+92 342 3392795 6
+92 315 2935701 7
+92 345 3113993 8
+92 313 1134244 9
+92 344 1802958 10
+92 312 8525358 11
+92 304 3184681 12
+92 345 2541450 13
+92 344 2226632 14
+92 306 2462926 15
+92 312 0004695 16
+92 334 0378290 17
+92 335 3271054 18
+92 316 1448439 19
+92 334 3523966 20
+92 333 3120597 21
+92 315 3727169 22
+92 324 2824117 23
+92 313 1145255 24
+92 312 2296999 25
+92 315 2185186 26
+92 323 2553599 27
+92 316 2688657 28

In [8]:
# Creatig Dictionary  
DataDict = {'RollNum'   : RollNum,
            'StudName'  : StudName,
            'Mobile'    : mobile,
            'Email'     : email}

In [9]:
{k:len(v) for k,v in DataDict.items()}

{'RollNum': 23, 'StudName': 27, 'Mobile': 29, 'Email': 24}

In [16]:
import pandas as pd
df = pd.DataFrame({k:pd.Series(v) for k,v in DataDict.items()})
df.head()

    RollNum         StudName           Mobile                        Email
0  AI-46214      Iqbal Ahmed  +92 312 2093412         iq.ahmed91@gmail.com
1  AI-46165  Muhammad Mohsin  +92 323 2900066   mohsinsheikh0700@gmail.com
2  AI-40211        Ali Nasir  +92 309 2655755  irfanmuhammadk786@gmail.com
3  AI-53993    Syed Muhammad  +92 334 2995610                abc@gmail.com
4  AI-47242            CR AI  +92 300 2303175   basharatfarhad24@gmail.com