In [1]:
object1 = "data" + "analysis" + "visualization"
object2 = 1 * 3
object3 = "1" * 3

In [2]:
print(object1)
print(object2)
print(object3)

dataanalysisvisualization
3
111

In [7]:
x = 1.5
y1 = str(x)
y2 = print(x)
print(type(x))
print(type(y1))
print(type(y2))

1.5
<class 'float'>
<class 'str'>
<class 'NoneType'>

In [9]:
num = 5
def func1():
    num = 3
    print(num)

def func2():
    global num
    double_num = num * 2
    num = 6
    print(double_num)

In [12]:
func1()
func2()

3
10

In [14]:
print(4**3)

64

In [26]:
num = 10

def func1(value):
    xnum = num * value
    print(xnum)
    
    
def func2(value): 
    num = num * value
    print(num)
    
func1(5)
func2(5)

50

UnboundLocalError: local variable 'num' referenced before assignment

In [33]:
new_val = 10
def square(value):
    global new_val
    new_val = value * new_val
    return new_val
square(3)

30

In [34]:
new_val = 20
square(3)

60

In [ ]:
x= [10, 20,30]

In [36]:
print(x.map())

NameError: name 'x' is not defined

In [39]:
len(525600)

TypeError: object of type 'int' has no len()