In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [7]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
obj.values[1]

6

In [12]:
ww2_cas = Series([870000,430000,300000,210000,400000], index=['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       870000
Germany    430000
China      300000
Japan      210000
USA        400000
dtype: int64

In [13]:
ww2_cas['USA']

400000

In [15]:
#Check Which countries had can greater than mill

ww2_cas[ww2_cas >400000]

USSR       870000
Germany    430000
dtype: int64

In [16]:
'USSR' in ww2_cas

True

In [17]:
'Pakistan' in ww2_cas

False

In [18]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 870000,
 'Germany': 430000,
 'China': 300000,
 'Japan': 210000,
 'USA': 400000}

In [19]:
ww2_series = Series(ww2_dict)
ww2_series

USSR       870000
Germany    430000
China      300000
Japan      210000
USA        400000
dtype: int64

In [20]:
countries = ['China','Pakistan','Germany','Japan','USA','USSR']

In [21]:
obj2 = Series(ww2_dict, index=countries)
obj2

China       300000.0
Pakistan         NaN
Germany     430000.0
Japan       210000.0
USA         400000.0
USSR        870000.0
dtype: float64

In [22]:
pd.isnull(obj2)

China       False
Pakistan     True
Germany     False
Japan       False
USA         False
USSR        False
dtype: bool

In [23]:
pd.notnull(obj2)

China        True
Pakistan    False
Germany      True
Japan        True
USA          True
USSR         True
dtype: bool

In [25]:
ww2_series

USSR       870000
Germany    430000
China      300000
Japan      210000
USA        400000
dtype: int64

In [26]:
obj2

China       300000.0
Pakistan         NaN
Germany     430000.0
Japan       210000.0
USA         400000.0
USSR        870000.0
dtype: float64

In [27]:
ww2_series + obj2

China        600000.0
Germany      860000.0
Japan        420000.0
Pakistan          NaN
USA          800000.0
USSR        1740000.0
dtype: float64

In [28]:
obj2.name = "World War 2 Casualties"

obj2

China       300000.0
Pakistan         NaN
Germany     430000.0
Japan       210000.0
USA         400000.0
USSR        870000.0
Name: World War 2 Casualties, dtype: float64

In [29]:
obj2.index.name = "Countries"

In [30]:
obj2

Countries
China       300000.0
Pakistan         NaN
Germany     430000.0
Japan       210000.0
USA         400000.0
USSR        870000.0
Name: World War 2 Casualties, dtype: float64

In [33]:
obj2

Countries
China       300000.0
Pakistan         NaN
Germany     430000.0
Japan       210000.0
USA         400000.0
USSR        870000.0
Name: World War 2 Casualties, dtype: float64