In [1]:
import numpy as np

In [19]:
my_list = [1,2,3,4,5]

In [20]:
my_array1 = np.array(my_list)

In [21]:
my_array1

array([1, 2, 3, 4, 5])

In [22]:
my_list2 = [11,12,13,14, 15]

In [23]:
my_lists = [my_list, my_list2]

In [24]:
my_lists

[[1, 2, 3, 4, 5], [11, 12, 13, 14, 15]]

In [25]:
my_array2 = np.array(my_lists)

In [26]:
my_array2

array([[ 1,  2,  3,  4,  5],
       [11, 12, 13, 14, 15]])

In [27]:
my_array2.shape

(2, 5)

In [28]:
my_array2.dtype

dtype('int32')

In [31]:
np.zeros(5).dtype

dtype('float64')

In [32]:
np.ones([5,5])

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [33]:
np.empty(5)

array([0., 0., 0., 0., 0.])

In [34]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [35]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [36]:
np.arange(5,50,2)

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39, 41, 43, 45, 47, 49])

In [37]:
np.arange(5,100, 5)

array([ 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85,
       90, 95])