In [72]:
import numpy as np
import pandas as pd

In [190]:
hblList = pd.read_excel('../../VendorList.xlsx')
hblList.columns = ['sno','vendor','cnic','vat']
hblList.set_index('sno', inplace=True)
hblList.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6151 entries, 1 to 6151
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   vendor  6151 non-null   int64
 1   cnic    3706 non-null   object
 2   vat     3858 non-null   object
dtypes: int64(1), object(2)
memory usage: 192.2+ KB

In [256]:
HblVat = np.array(hblList[hblList['vat'].str.len() == 9]['vat'].str.replace('-',''))
HblCnic = np.array(hblList[hblList['cnic'].str.len() == 15]['cnic'].str.replace('-',''))
print('HBL NTN Array Size : {}, HBL CNIC Array Size : {}, Total HBL array Size : {}' \
      .format(HblVat.size, HblCnic.size, HblVat.size + HblCnic.size))

HBL NTN Array Size : 3737, HBL CNIC Array Size : 3639, Total HBL array Size : 7376

In [98]:
fbrFileName = "../../ATL.xlsx"
xls =pd.ExcelFile(fbrFileName)
print(xls.sheet_names)

fbrList = pd.read_excel(fbrFileName)
for items in xls.sheet_names[1:]:
    dfTemp = pd.read_excel(fbrFileName,sheet_name=items)
    fbrList = pd.concat([fbrList,dfTemp])

['Part1', 'Part2', 'Part3', 'Part4', 'Part5', 'Part6', 'Part7', 'Part8', 'Part9']

In [99]:
fbrList.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3318595 entries, 0 to 118594
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   SR_NO          int64
 1   NTN            object
 2   NAME           object
 3   BUSINESS_NAME  object
dtypes: int64(1), object(3)
memory usage: 126.6+ MB

In [198]:
FbrVat = np.array(fbrList[fbrList['NTN'].str.len() == 9]['NTN'].str.replace('-',''))
FbrCnic = np.array(fbrList[fbrList['NTN'].str.len() == 13]['NTN'].str.replace('-',''))
print('NTN Array Size : {}, CNIC Array Size : {}, Total array Size : {}' \
      .format(FbrVat.size, FbrCnic.size, FbrVat.size + FbrCnic.size))

NTN Array Size : 191206, CNIC Array Size : 3121756, Total array Size : 3312962

In [197]:
%%time
# Vat wise total Filer List
HblFilerVal = np.array(HblVat[np.in1d(HblVat,FbrVat)])

CPU times: total: 21.1 s
Wall time: 21.2 s

In [199]:
%%time
# CNIC wise total Filer List
HblFilerCnic = np.array(HblCnic[np.in1d(HblCnic,FbrCnic)])

CPU times: total: 4min 7s
Wall time: 4min 9s

In [254]:
print(''' \t\tAs per FBR List for First week of August 2022\n
    \t\tFiler\t\tNon Filer\tTotal\n{}
    NTN\t\t {}\t\t {}\t\t {}
    CNIC\t {}\t\t {}\t\t {}\n{}    
    \t\t {}\t\t {}\t\t {}\n{}
    '''
          .format('-'* 70, HblFilerVal.size, HblVat.size-HblFilerVal.size, HblVat.size,\
                  HblFilerCnic.size, HblCnic.size - HblFilerCnic.size,HblCnic.size,\
                 '-'* 70, HblFilerVal.size+HblFilerCnic.size,(HblVat.size-HblFilerVal.size)\
                  +(HblCnic.size - HblFilerCnic.size), HblVat.size+HblCnic.size,'-'* 70))

 		As per FBR List for First week of August 2022

    		Filer		Non Filer	Total
----------------------------------------------------------------------
    NTN		 1578		 2159		 3737
    CNIC	 2215		 1424		 3639
----------------------------------------------------------------------
    		 3793		 3583		 7376
----------------------------------------------------------------------

In [95]:
# fbrFileName = "../../VendorList.xlsx"
# fbrList = pd.read_excel(fbrFileName)
# fbrList.set_index('SR_NO', inplace=True)
fbrList.reset_index(inplace=True)
fbrList.columns = fbrList.columns.str.lower()

In [90]:
fbrNTN = np.array(fbrList[fbrList.NTN.apply(len) == 9]['NTN'])
fbrCNIC = np.array(fbrList[fbrList.NTN.apply(len) == 13]['NTN'])

   level_0  index       vendor_id tca_sync_num_1099 tca_sync_vat_reg_num
0        0      0    1        267               NaN            0829298-1
1        1      1    2        277               NaN            0709890-1
2        2      2    3          2               NaN            0786481-7
3        3      3    4         23               NaN            2793009-2
4        4      4    5         25               NaN            3675788-8

['Part1', 'Part2']

In [ ]:
fbrNTN = np.array(fbrList[fbrList.NTN.apply(len) == 9]['NTN'])
fbrCNIC = np.array(fbrList[fbrList.NTN.apply(len) == 13]['NTN'])

In [42]:
hblList = pd.read_excel('VendorList.xlsx')
hblList.columns = ['sno','vendor','cnic','cat']
hblList.set_index('sno', inplace=True)
hblList.head()

     vendor cnic        cat
sno
1       267  NaN  0829298-1
2       277  NaN  0709890-1
3         2  NaN  0786481-7
4        23  NaN  2793009-2
5        25  NaN  3675788-8

In [ ]:
hblList['cnic_length'] = hblList['cnic'].str.len()
hblList['vat_length'] = hblList['vat'].str.len()
hblList.head()

In [ ]:
df_cnic[df_cnic.ntn.apply(len) != 13]

In [ ]:
bank_ntn = np.array(df_ntn.ntn)
bank_cnic = np.array(df_cnic.ntn)

In [ ]:
np.in1d(bank_ntn, bank_cnic)

In [ ]:
def CleanText(value):
    if '-' in value:
        return value.split('-')[0]+value.split('-')[1]
    
print(CleanText(aa))

CleanText(hblList.iloc[:, 2])
hblList["vat"].agg(CleanText)
# hblList.head()

In [ ]:
hblList['vat'].str.replace('-', '')

In [ ]:
hblVatList = hblList[hblList['vat_length'] == 9]['vat']
hblCnicList = hblList[hblList['cnic_length'] == 15]['cnic']

In [ ]:
aa = '0829298-1'
if '-' in aa:
    print(aa.split('-')[0]+aa.split('-')[1] )
else:
    print('y')

In [ ]:
hblList.loc[:,'vat']