# List

List is a collection which is ordered and changeable. Allows duplicate members.

In [41]:
mylist = [1, "Shahzad", "Ahmed", "HBL", "Oracle"]
print(mylist)
print(len(mylist))
print(type(mylist))

[1, 'Shahzad', 'Ahmed', 'HBL', 'Oracle']
5
<class 'list'>

In [29]:
print(1, mylist[:4])
print(2, mylist[3:5])
print(3, mylist[2:])
print(4, mylist[:3])
print(5, mylist[-4:-1])
print(6, mylist[-1::-1])
print(7, mylist[2:5])

1 [1, 'Shahzad', 'Ahmed', 'HBL']
2 ['HBL', 'Oracle']
3 ['Ahmed', 'HBL', 'Oracle']
4 [1, 'Shahzad', 'Ahmed']
5 ['Shahzad', 'Ahmed', 'HBL']
6 ['Oracle', 'HBL', 'Ahmed', 'Shahzad', 1]
7 ['Ahmed', 'HBL', 'Oracle']

In [31]:
if "Ahmed" in mylist:
  print("Yes, 'Ahmed' is in the list")

Yes, 'Ahmed' is in the list

In [42]:
mylist[-1] = 'AI'
print(mylist)

[1, 'Shahzad', 'Ahmed', 'HBL', 'AI']

In [43]:
mylist.append("Oracle")
print(mylist)

[1, 'Shahzad', 'Ahmed', 'HBL', 'AI', 'Oracle']

In [44]:
mylist.insert(3, "Khan")
print(mylist)

[1, 'Shahzad', 'Ahmed', 'Khan', 'HBL', 'AI', 'Oracle']

In [47]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
print(thislist)
print(tropical)
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry']
['mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [48]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
thislist.remove("banana") # Remove through Values
thislist.pop(1) # Remove through Index and return removing values
thislist.pop() # if donot spicy the index then remove the last item
del thislist[0] # remove through index but dont return the value
del thislist # to remore the complete list
thislist.clear() # to remove the complete list
print(thislist)

In [51]:
for x in thislist:
  print(x)
print('------')
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry
kiwi
orange
------
apple
banana
cherry
kiwi
orange

In [52]:
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry
kiwi
orange

In [56]:
[print(x) for x in thislist] # Comprehension list

apple
banana
cherry
kiwi
orange

[None, None, None, None, None]

In [57]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for x in fruits:
  if "a" in x:
    newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [72]:
fruits = ["apple", "Banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'Banana', 'mango']

In [64]:
#newlist = [x.upper() for x in fruits
print(fruits)
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [74]:
newlist.sort()
print(newlist)
newlist.sort(reverse = True)
print(newlist)
newlist.sort(key = str.lower)
print(newlist)
newlist.reverse()
print(newlist)

['Banana', 'apple', 'mango']
['mango', 'apple', 'Banana']
['apple', 'Banana', 'mango']
['mango', 'Banana', 'apple']

In [77]:
print(mylist)
mylist2 = mylist # Shallow Copy
print(mylist2)

[1, 'Shahzad', 'Ahmed', 'Khan', 'HBL', 'AI', 'Oracle']
[1, 'Shahzad', 'Ahmed', 'Khan', 'HBL', 'AI', 'Oracle']

In [82]:
mylist[4] = 'HBL'
print(mylist)
print(mylist2)

[1, 'Shahzad', 'Ahmed', 'Khan', 'HBL', 'AI', 'Oracle']
[1, 'Shahzad', 'Ahmed', 'Khan', 'HBL', 'AI', 'Oracle']

In [85]:
mylistc = mylist.copy()
print(mylist)
print(mylistc)
mylist[4] = 'UBL'
print(mylist)
print(mylist2)
print(mylistc)

[1, 'Shahzad', 'Ahmed', 'Khan', 'HBL', 'AI', 'Oracle']
[1, 'Shahzad', 'Ahmed', 'Khan', 'HBL', 'AI', 'Oracle']
[1, 'Shahzad', 'Ahmed', 'Khan', 'UBL', 'AI', 'Oracle']
[1, 'Shahzad', 'Ahmed', 'Khan', 'UBL', 'AI', 'Oracle']
[1, 'Shahzad', 'Ahmed', 'Khan', 'HBL', 'AI', 'Oracle']

In [87]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [2]:
n = "Shahzad Ahmed Khan"
list = n.split();
print(list)

['Shahzad', 'Ahmed', 'Khan']

In [37]:
thislist = ["apple", "watermelon", "cherry", "watermelon"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon', 'watermelon']

In [88]:
multilist = [[1, "Shahzad", "Ahmed", "HBL", "Oracle"],
             [2, "Muhammad", "Saad", "ABL", "BI"],
             [3, "Iqbal", "Ahmed", "UBL", "OAF"],
            ]
print(multilist)

[[1, 'Shahzad', 'Ahmed', 'HBL', 'Oracle'], [2, 'Muhammad', 'Saad', 'ABL', 'BI'], [3, 'Iqbal', 'Ahmed', 'UBL', 'OAF']]

In [102]:
for i in range(len(multilist)):
    print(multilist[i][1:3])

['Shahzad', 'Ahmed']
['Muhammad', 'Saad']
['Iqbal', 'Ahmed']

In [103]:
dir(multilist)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']