In [1]:
import numpy as np
import pandas as pd

In [118]:
hblList = pd.read_excel('../../VendorList.xlsx')
hblList.columns = ['sno','vendor','cnic','vat']
hblList.set_index('sno', inplace=True)
hblList.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6151 entries, 1 to 6151
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   vendor  6151 non-null   int64
 1   cnic    3706 non-null   object
 2   vat     3858 non-null   object
dtypes: int64(1), object(2)
memory usage: 192.2+ KB

In [3]:
HblVat = np.array(hblList[hblList['vat'].str.len() == 9]['vat'].str.replace('-',''))
HblCnic = np.array(hblList[hblList['cnic'].str.len() == 15]['cnic'].str.replace('-',''))
print('HBL NTN Array Size : {}, HBL CNIC Array Size : {}, Total HBL array Size : {}' \
      .format(HblVat.size, HblCnic.size, HblVat.size + HblCnic.size))

HBL NTN Array Size : 3737, HBL CNIC Array Size : 3639, Total HBL array Size : 7376

In [117]:
%%time
fbrFileName = "../../ATL/2022091965328335ATL_IT.xlsx"
xls =pd.ExcelFile(fbrFileName)
print(xls.sheet_names)

fbrList = pd.read_excel(fbrFileName)
for items in xls.sheet_names[1:]:
    dfTemp = pd.read_excel(fbrFileName,sheet_name=items)
    fbrList = pd.concat([fbrList,dfTemp])

['Part1', 'Part2', 'Part3', 'Part4', 'Part5', 'Part6', 'Part7', 'Part8', 'Part9']

KeyboardInterrupt:

In [5]:
fbrList.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3318595 entries, 0 to 118594
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   SR_NO          int64
 1   NTN            object
 2   NAME           object
 3   BUSINESS_NAME  object
dtypes: int64(1), object(3)
memory usage: 126.6+ MB

In [198]:
FbrVat = np.array(fbrList[fbrList['NTN'].str.len() == 9]['NTN'].str.replace('-',''))
FbrCnic = np.array(fbrList[fbrList['NTN'].str.len() == 13]['NTN'].str.replace('-',''))
print('NTN Array Size : {}, CNIC Array Size : {}, Total array Size : {}' \
      .format(FbrVat.size, FbrCnic.size, FbrVat.size + FbrCnic.size))

NTN Array Size : 191206, CNIC Array Size : 3121756, Total array Size : 3312962

In [197]:
%%time
# Vat wise total Filer List
HblFilerVal = np.array(HblVat[np.in1d(HblVat,FbrVat)])

CPU times: total: 21.1 s
Wall time: 21.2 s

In [199]:
%%time
# CNIC wise total Filer List
HblFilerCnic = np.array(HblCnic[np.in1d(HblCnic,FbrCnic)])

CPU times: total: 4min 7s
Wall time: 4min 9s

In [254]:
print(''' \t\tAs per FBR List for First week of August 2022\n
    \t\tFiler\t\tNon Filer\tTotal\n{}
    NTN\t\t {}\t\t {}\t\t {}
    CNIC\t {}\t\t {}\t\t {}\n{}    
    \t\t {}\t\t {}\t\t {}\n{}
    '''
          .format('-'* 70, HblFilerVal.size, HblVat.size-HblFilerVal.size, HblVat.size,\
                  HblFilerCnic.size, HblCnic.size - HblFilerCnic.size,HblCnic.size,\
                 '-'* 70, HblFilerVal.size+HblFilerCnic.size,(HblVat.size-HblFilerVal.size)\
                  +(HblCnic.size - HblFilerCnic.size), HblVat.size+HblCnic.size,'-'* 70))

 		As per FBR List for First week of August 2022

    		Filer		Non Filer	Total
----------------------------------------------------------------------
    NTN		 1578		 2159		 3737
    CNIC	 2215		 1424		 3639
----------------------------------------------------------------------
    		 3793		 3583		 7376
----------------------------------------------------------------------

In [3]:
fbrList[fbrList['NTN'] == '4200005398227']

          SR_NO            NTN           NAME              BUSINESS_NAME
255472  2255473  4200005398227  SHAHZAD AHMED  TAPAL TEA PRIVATE LIMITED

In [95]:
# fbrFileName = "../../VendorList.xlsx"
# fbrList = pd.read_excel(fbrFileName)
# fbrList.set_index('SR_NO', inplace=True)
fbrList.reset_index(inplace=True)
fbrList.columns = fbrList.columns.str.lower()

In [90]:
fbrNTN = np.array(fbrList[fbrList.NTN.apply(len) == 9]['NTN'])
fbrCNIC = np.array(fbrList[fbrList.NTN.apply(len) == 13]['NTN'])

   level_0  index       vendor_id tca_sync_num_1099 tca_sync_vat_reg_num
0        0      0    1        267               NaN            0829298-1
1        1      1    2        277               NaN            0709890-1
2        2      2    3          2               NaN            0786481-7
3        3      3    4         23               NaN            2793009-2
4        4      4    5         25               NaN            3675788-8

['Part1', 'Part2']

In [ ]:
fbrNTN = np.array(fbrList[fbrList.NTN.apply(len) == 9]['NTN'])
fbrCNIC = np.array(fbrList[fbrList.NTN.apply(len) == 13]['NTN'])

In [42]:
hblList = pd.read_excel('VendorList.xlsx')
hblList.columns = ['sno','vendor','cnic','cat']
hblList.set_index('sno', inplace=True)
hblList.head()

     vendor cnic        cat
sno
1       267  NaN  0829298-1
2       277  NaN  0709890-1
3         2  NaN  0786481-7
4        23  NaN  2793009-2
5        25  NaN  3675788-8

In [ ]:
hblList['cnic_length'] = hblList['cnic'].str.len()
hblList['vat_length'] = hblList['vat'].str.len()
hblList.head()

In [ ]:
df_cnic[df_cnic.ntn.apply(len) != 13]

In [ ]:
bank_ntn = np.array(df_ntn.ntn)
bank_cnic = np.array(df_cnic.ntn)

In [ ]:
np.in1d(bank_ntn, bank_cnic)

In [ ]:
def CleanText(value):
    if '-' in value:
        return value.split('-')[0]+value.split('-')[1]
    
print(CleanText(aa))

CleanText(hblList.iloc[:, 2])
hblList["vat"].agg(CleanText)
# hblList.head()

In [ ]:
hblList['vat'].str.replace('-', '')

In [ ]:
hblVatList = hblList[hblList['vat_length'] == 9]['vat']
hblCnicList = hblList[hblList['cnic_length'] == 15]['cnic']

In [ ]:
aa = '0829298-1'
if '-' in aa:
    print(aa.split('-')[0]+aa.split('-')[1] )
else:
    print('y')

In [ ]:
hblList.loc[:,'vat']

In [10]:
list = []
for i in hblList[hblList['cnic'].notnull()]['cnic'].head(10):
    list.append(i)
list

['42301-4001063-3',
 '42101-1718421-3',
 '42201-1003758-3',
 '61101-0349645-3',
 '42201-9341252-3',
 '42201-4803704-5',
 '42301-5515345-3',
 '42000-0384587-9',
 '35303-6127886-5',
 '42101-1770847-5']

In [80]:
list.append('42000-0539822-7')
list

['42301-4001063-3',
 '42101-1718421-3',
 '42201-1003758-3',
 '61101-0349645-3',
 '42201-9341252-3',
 '42201-4803704-5',
 '42301-5515345-3',
 '42000-0384587-9',
 '35303-6127886-5',
 '42101-1770847-5',
 '42000-0539822.7',
 '0829298-1',
 '42000-0539822-7']

In [81]:
fbrList[fbrList['NTN'] == '4200005398227']

          SR_NO            NTN           NAME              BUSINESS_NAME
255472  2255473  4200005398227  SHAHZAD AHMED  TAPAL TEA PRIVATE LIMITED

In [18]:
fbrList.head()

   SR_NO        NTN                                        NAME BUSINESS_NAME
0      1  0000091-4        ARBOR ACRES PAKISTAN PRIVATE LIMITED           NaN
1      2  0000092-2                          THE BANK OF KHYBER           NaN
2      3  0000094-9                     AL KHAIR GADOON LIMITED           NaN
3      4  0000098-1                 ACE WEAVERS PRIVATE LIMITED           NaN
4      5  0000128-7  ABASIN FLOUR GENERAL MILLS PRIVATE LIMITED           NaN

In [39]:
def GetVendorDetail(x):
    myList = []
    for i in x:
        if len(x) > 10:
            myList.append(fbrList[fbrList['NTN'] == i.replace('-','')][['NTN','NAME']])
    return myList

In [7]:
filter = fbrList['NTN'] == '4200005398227'
fbrList.loc[filter]

          SR_NO            NTN           NAME              BUSINESS_NAME
255472  2255473  4200005398227  SHAHZAD AHMED  TAPAL TEA PRIVATE LIMITED

In [26]:
# fntn = fbrList[fbrList['NTN'].notnull()]
fbrList[fntn['NTN'].str.contains('4200005398227')]

C:\Users\shahzad.ahmed1\AppData\Local\Temp\ipykernel_8564\3401273805.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  fbrList[fntn['NTN'].str.contains('4200005398227')]
C:\Users\shahzad.ahmed1\AppData\Local\Temp\ipykernel_8564\3401273805.py:2: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  fbrList[fntn['NTN'].str.contains('4200005398227')]

ValueError: cannot reindex on an axis with duplicate labels

In [25]:
fntn.head()

   SR_NO        NTN                                        NAME BUSINESS_NAME
0      1  0000091-4        ARBOR ACRES PAKISTAN PRIVATE LIMITED           NaN
1      2  0000092-2                          THE BANK OF KHYBER           NaN
2      3  0000094-9                     AL KHAIR GADOON LIMITED           NaN
3      4  0000098-1                 ACE WEAVERS PRIVATE LIMITED           NaN
4      5  0000128-7  ABASIN FLOUR GENERAL MILLS PRIVATE LIMITED           NaN

In [40]:
xList = GetVendorDetail(list)
xList

[                  NTN                  NAME
 280052  4230140010633  JAMSHED RAZA MAHMOOD,
                   NTN               NAME
 319303  4210117184213  SHEERAZ PIYAR ALI,
                  NTN            NAME
 83530  4220110037583  MUHAMMAD IHSAN,
                   NTN        NAME
 263560  6110103496453  AZAM JAMIL,
                   NTN     NAME
 208918  4220193412523  SHEHZAD,
                   NTN                        NAME
 138139  4220148037045  SYED MUHAMMAD ASHRAF KARIM,
 Empty DataFrame
 Columns: [NTN, NAME]
 Index: [],
                   NTN                 NAME
 241056  4200003845879  SARDAR ABDUL QAYYUM,
                   NTN             NAME
 319484  3530361278865  MUHAMMAD SHAHID,
                   NTN           NAME
 324211  4210117708475  SYED AMIR ALI,
 Empty DataFrame
 Columns: [NTN, NAME]
 Index: []]

In [27]:
xx = '42301-4001063-3'
if len(xx) > 10:
    print(xx.replace('-',''))
else:
    print(xx)

4230140010633

In [60]:
print(fbrList[fbrList['NTN'] == '4200005398227'].iloc[0, 1])

4200005398227

In [67]:
mydict = {}

In [82]:
for i in list:
    x = i.replace('-','')
    try:
        mydict[fbrList[fbrList['NTN'] == x].iloc[0, 1]] = 'Filer'
    except IndexError:
        mydict[x] = 'NonFiler'

In [83]:
mydict

{'4230140010633': 'Filer',
 '4210117184213': 'Filer',
 '4220110037583': 'Filer',
 '6110103496453': 'Filer',
 '4220193412523': 'Filer',
 '4220148037045': 'Filer',
 '42301-5515345-3': 'NonFiler',
 '4200003845879': 'Filer',
 '3530361278865': 'Filer',
 '4210117708475': 'Filer',
 '42000-0539822.7': 'NonFiler',
 '0829298-1': 'NonFiler',
 '4230155153453': 'NonFiler',
 '420000539822.7': 'NonFiler',
 '08292981': 'NonFiler',
 '4200005398227': 'Filer'}

In [74]:
xlist = [x.replace('-','') for x in list if len(x) > 10]
print(xlist)

['4230140010633', '4210117184213', '4220110037583', '6110103496453', '4220193412523', '4220148037045', '4230155153453', '4200003845879', '3530361278865', '4210117708475', '420000539822.7']

In [97]:
def GetVendorDetail(x):
    mydict = {}
    nicList = [x.replace('-','') for x in list if len(x) > 10]
    ntnList = [x for x in list if len(x) < 10]
    for i in nicList:
        try:
            mydict[fbrList[fbrList['NTN'] == i].iloc[0, 1]] = 'Filer'
        except IndexError:
            mydict[i] = 'NonFiler'
            
    for i in ntnList:
        try:
            mydict[fbrList[fbrList['NTN'] == i].iloc[0, 1]] = 'Filer'
        except IndexError:
            mydict[i] = 'NonFiler'
            
    return mydict

In [98]:
xdict ={}
xdict = GetVendorDetail(list)
print(xdict)

{'4230140010633': 'Filer', '4210117184213': 'Filer', '4220110037583': 'Filer', '6110103496453': 'Filer', '4220193412523': 'Filer', '4220148037045': 'Filer', '4230155153453': 'NonFiler', '4200003845879': 'Filer', '3530361278865': 'Filer', '4210117708475': 'Filer', '420000539822.7': 'NonFiler', '4200005398227': 'Filer'}

In [116]:
ntnList = [x for i in list if len(i) <= 9]
ntnList

['4200005398227']

In [ ]:
xx = {i:i**2 for i in x}
mydict[fbrList[fbrList['NTN'] == x].iloc[0, 1]] = 'Filer'

In [86]:
mydict = {fbrList[fbrList['NTN'] == x].iloc[0, 1]:'Filer' (x.replace('-','') for x in list if len(x) > 10])}

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (4139682748.py, line 1)

In [124]:
list = []
for i in hblList[hblList['cnic'].notnull()]['cnic'].head(20):
    list.append(i)
for i in hblList[hblList['vat'].notnull()]['vat'].head(20):
    list.append(i)
list

['42301-4001063-3',
 '42101-1718421-3',
 '42201-1003758-3',
 '61101-0349645-3',
 '42201-9341252-3',
 '42201-4803704-5',
 '42301-5515345-3',
 '42000-0384587-9',
 '35303-6127886-5',
 '42101-1770847-5',
 '42000-8657785-3',
 '42201-4175656-1',
 '42301-3291522-3',
 '41304-1231889-1',
 '42000-0472511-5',
 '42401-8884346-9',
 '42201-1246831-5',
 '42301-5474597-5',
 '42301-1593338-5',
 '42000-0444667-9',
 '0829298-1',
 '0709890-1',
 '0786481-7',
 '2793009-2',
 '3675788-8',
 '1458004-7',
 '2375461-3',
 '3384034-2',
 '2155780-2',
 '2223434-9',
 '3599721-4',
 '2471022-9',
 '1894516-3',
 '3005515-6',
 '3753998-1',
 '3224537-8',
 '4008310-1',
 '1310056-4',
 '1410991-3',
 '1055522-6']

In [133]:
nicList = [x.replace('-','') for x in list if len(x) > 10]
ntnList = [x for x in list if len(x) < 10]

In [134]:
ntnList

['0829298-1',
 '0709890-1',
 '0786481-7',
 '2793009-2',
 '3675788-8',
 '1458004-7',
 '2375461-3',
 '3384034-2',
 '2155780-2',
 '2223434-9',
 '3599721-4',
 '2471022-9',
 '1894516-3',
 '3005515-6',
 '3753998-1',
 '3224537-8',
 '4008310-1',
 '1310056-4',
 '1410991-3',
 '1055522-6']