In [1]:
import numpy as np
import pandas as pd

In [22]:
fbrList = pd.read_excel('ATL.xlsx', index_col='SR_NO')
# atl.set_index('SR_NO', inplace=True)
# # atl.reset_index(inplace=True)
# atl.columns = atl.columns.str.lower()

In [23]:
fbrList.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 1 to 100000
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   NTN            100000 non-null  object
 1   NAME           99800 non-null   object
 2   BUSINESS_NAME  31540 non-null   object
dtypes: object(3)
memory usage: 3.1+ MB

In [30]:
fbrNTN = np.array(fbrList[fbrList.NTN.apply(len) == 9]['NTN'])

In [36]:
fbrCNIC = np.array(fbrList[fbrList.NTN.apply(len) == 13]['NTN'])

In [42]:
hblList = pd.read_excel('VendorList.xlsx')
hblList.columns = ['sno','vendor','cnic','cat']
hblList.set_index('sno', inplace=True)
hblList.head()

     vendor cnic        cat
sno
1       267  NaN  0829298-1
2       277  NaN  0709890-1
3         2  NaN  0786481-7
4        23  NaN  2793009-2
5        25  NaN  3675788-8

In [55]:
hblList[['cnic']].unique_values

AttributeError: 'DataFrame' object has no attribute 'unique_values'

In [21]:
fbrList.count()

NameError: name 'fbrList' is not defined

In [ ]:
atl.info()

In [ ]:
# df_cnic = atl[atl['ntn'].apply(len) != 9]

In [ ]:
df_ntn.info()

In [ ]:
df_cnic.info()

In [ ]:
df_ntn

In [ ]:
df_cnic[df_cnic.ntn.apply(len) != 13]

In [ ]:
bank_ntn = np.array(df_ntn.ntn)
bank_cnic = np.array(df_cnic.ntn)

In [ ]:
np.in1d(bank_ntn, bank_cnic)

In [ ]:
bank_cnic

In [ ]:
atl.count()