In [ ]:
pip install --upgrade xlrd

In [ ]:
import pandas as pd

In [ ]:
igloo = pd.read_excel("IGLOO.xls")
igloo
# igloo.to_excel('saved_file.xlsx')
# igloo

In [6]:
igloo.head()

,SalesDate,SalesQTY,SalesAmount,ProductCategory,ProductSubCategory,ProductName,StoreName,StoreRegion,StoreProvince,StoreZone,StoreArea,Unnamed: 11,PaymentTerms,SalesMan,Route
0,2016-09-01,3,716.33,ICE CREAMS,MOMENT TUB,STRABERY CHEESE CAKE MOMENT,QADRI SUPER MARKET,KARACHI,SINDH,ZONE-C,C.P BARAR SOCIETY,NaN,Credit (114),ABDUL RAUF(R.S.O),ORANGI TOWN
1,2016-09-01,10,2387.78,ICE CREAMS,MOMENT TUB,CHOC FUDGE BROWNI MOMENT,QADRI SUPER MARKET,KARACHI,SINDH,ZONE-C,C.P BARAR SOCIETY,NaN,Credit (114),ABDUL RAUF(R.S.O),ORANGI TOWN
2,2016-01-01,50,1042.05,CONES,2 IN 1 CONE,KING CONE 2/1 (1X25),NAGINA STORE,KARACHI,SINDH,ZONE-C,K.P.T HOSPITAL,NaN,Credit (114),ABDUL RAUF(R.S.O),ORANGI TOWN
3,2016-01-01,32,666.91,CUPS,CLASSIC CUP,MANGO CLASSIC CUP (1X16),NAGINA STORE,KARACHI,SINDH,ZONE-C,K.P.T HOSPITAL,NaN,Credit (114),ABDUL RAUF(R.S.O),ORANGI TOWN
4,2016-02-01,24,343.06,CUPS,CHEER CUP,CHEER VANILA CUP (1X24),NAGINA STORE,KARACHI,SINDH,ZONE-C,K.P.T HOSPITAL,NaN,Credit (114),ABDUL RAUF(R.S.O),ORANGI TOWN

In [ ]:
product_df = pd.DataFrame(igloo, columns= ['ProductCategory','ProductName','ProductSubCategory'])
product_df.insert(0,'productid',range(1,1+len(product_df)))
product_df
with pd.ExcelWriter("newfile_1.xlsx") as writer:
    igloo.to_excel(writer, "igloo")
    product_df.to_excel(writer, "product_df")
    (store_df).to_excel(writer, "store_df")
    (sales_df).to_excel(writer, "sales_df")
    (salesman_df).to_excel(writer, "salesman_df")

product_df

In [ ]:
product_df

In [ ]:
store_df = pd.DataFrame(igloo, columns = ['StoreName','StoreRegion','StoreProvince','StoreZone','StoreArea'])
store_df.insert(0,'storeid',range(1,1+len(store_df)))
store_df

In [ ]:
sales_df = pd.DataFrame(igloo, columns = ["SalesDate","SalesQuantity","SalesAmount"])
sales_df.insert(0,'product_id',range(1,1+len(sales_df)))
sales_df.insert(0,'store_id',range(1,1+len(sales_df)))
sales_df.insert(0,'salesman_id',range(1,1+len(sales_df)))

sales_df

In [ ]:
salesman_df= pd.DataFrame(igloo, columns = ["Salesman","Route","PaymentTerm"])
salesman_df.insert(0,'salesman_id',range(1,1+len(salesman_df)))
salesman_df

In [ ]:
store_df = pd.DataFrame(igloo, columns = ['StoreName','StoreRegion','StoreProvince','StoreZone','StoreArea'])
store_df.insert(0,'storeid',range(1,1+len(store_df)))
store_df

In [ ]:
igloo['StoreName'].count()

In [ ]:
store_df = igloo.iloc[:,6:10]
store_df.drop_duplicates(inplace=True)
store_df.insert(0,'storeid',range(1,1+len(store_df)))
print(store_df)

In [ ]:
store_df = igloo.iloc[:,6:10]
store_df.drop_duplicates(inplace=True)
# store_df.insert(0,'storeid',range(1,1+len(store_df)))
print(store_df)

In [ ]:
store_df.reset_index(drop=True)
store_df

In [ ]:
df2.insert(0,'storeid',range(1,1+len(df2)))
df2

In [ ]:
store_df = pd.DataFrame(igloo.drop_duplicates(inplace=True), columns = ['StoreName','StoreRegion','StoreProvince','StoreZone','StoreArea'])
store_df.insert(0,'storeid',range(1,1+len(store_df)))
store_df

In [ ]:
import numpy as np
technologies = {
    'Courses':["Spark","PySpark","Python","pandas","Python","Spark","pandas"],
    'Fee' :[20000,25000,22000,30000,22000,20000,30000],
    'Duration':['31days','40days','35days','50days','35days','30days','50days'],
    'Discount':[1000,2300,1200,2000,1200,1000,2000]
              }
df = pd.DataFrame(technologies)
print(df)

In [ ]:
df2 = df.drop_duplicates()
print(df2)

# Using DataFrame.drop_duplicates() to keep first duplicate row
df2 = df.drop_duplicates(keep='first')
print(df2)

In [ ]:
product_df = pd.DataFrame(igloo, columns= ['ProductCategory','ProductName','ProductSubCategory'])
product_df.insert(0,'productid',range(1,1+len(product_df)))
product_df

In [10]:
product_df.head(2)

   productid ProductCategory                  ProductName ProductSubCategory
0          1      ICE CREAMS  STRABERY CHEESE CAKE MOMENT         MOMENT TUB
1          2      ICE CREAMS     CHOC FUDGE BROWNI MOMENT         MOMENT TUB

In [12]:
product_df[product_df['ProductName'] == 'STRABERY CHEESE CAKE MOMENT']

,productid,ProductCategory,ProductName,ProductSubCategory
0,1,ICE CREAMS,STRABERY CHEESE CAKE MOMENT,MOMENT TUB
349,350,ICE CREAMS,STRABERY CHEESE CAKE MOMENT,MOMENT TUB
975,976,ICE CREAMS,STRABERY CHEESE CAKE MOMENT,MOMENT TUB
4236,4237,ICE CREAMS,STRABERY CHEESE CAKE MOMENT,MOMENT TUB
4868,4869,ICE CREAMS,STRABERY CHEESE CAKE MOMENT,MOMENT TUB
...,...,...,...,...
48518,48519,ICE CREAMS,STRABERY CHEESE CAKE MOMENT,MOMENT TUB
52237,52238,ICE CREAMS,STRABERY CHEESE CAKE MOMENT,MOMENT TUB
52856,52857,ICE CREAMS,STRABERY CHEESE CAKE MOMENT,MOMENT TUB
53314,53315,ICE CREAMS,STRABERY CHEESE CAKE MOMENT,MOMENT TUB
54410,54411,ICE CREAMS,STRABERY CHEESE CAKE MOMENT,MOMENT TUB

In [ ]:
igloo.merge(product_df, how='inner', on='ProductName')[['col1','col2']]

In [ ]:
def GetProductID(Pname):
    return df_product[df_product['ProductName']==Pname]['ProductID']